@model TP6.Models.Libro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Titulo</dt>
        <dd>@Model.Titulo</dd>
        <dt>Autor</dt>
        <dd>@Model.Autor</dd>
        <dt>Paginas</dt>
        <dd>@Model.Paginas</dd>
        <dt>ISBN</dt>
        <dd>@Model.ISBN</dd>
        <dt>Edicion</dt>
        <dd>@Model.Edicion</dd>
        <dt>Editorial</dt>
        <dd>@Model.Editorial</dd>
        <dt>Lugar</dt>
        <dd>@Model.Lugar</dd>
        <dt>Fecha de Edicion</dt>
        <dd>@Model.FechaEdicion.ToString("dd-MM-yyyy")</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
